# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/

# Node / Frontend
node_modules/
dist/
build/
.npm
.eslintcache

# Spark/Hadoop
spark-warehouse/
metastore_db/
derby.log
checkpoint/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker / Environment variables
.env
